body {
  padding-bottom: 2em;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center
}

.header h1 a {
  text-decoration: none;
  color: rgb(34, 103, 252);;
  font-size: 20px;
}

.header input {
  border-radius: 20px;
  border: solid 1px rgb(34, 103, 252);
  width: 350px;
  font-size: 20px;
  outline: 0;
  padding: 10px 20px;
}  

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 920px;
  margin: 40px auto;
}

.grid {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-flow: row wrap;
}

.card {
  width: 330px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(34, 103, 252);
  border-radius: 4px;
  overflow: hidden;
  margin: 5px;
}

.card-header {
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid rgb(34, 103, 252);;
  background-color: rgb(13, 87, 245);
  padding: 5px 10px;
  white-space: nowrap; 
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-main {
  display: flex;            
  flex-direction: column;   
  justify-content: center;  
  align-items: center;      
  
}

.card-main img {
  height: 330px;
  width: 330px;
}

.card-main .tag-list {
  display: flex;            
  max-width: 320px;
  flex-flow: row wrap;
  margin-bottom: 5px;
  align-items: center;
  align-content: center;
  
}

.card-main .tag-list a {
  background-color: rgb(74, 131, 252);
  border-radius: 15px;
  padding: 10px;
  margin: 2px;
  text-decoration: none;
  color:white;
}

.owner {
  margin: 15px auto;
  color: rgb(13, 87, 245);;
  font-size: 14px;
}

.load-more {
  display: flex;
  width: 200px;
  padding: 20px;
  justify-content: center;
  margin: 10px auto;
  color: rgb(74, 131, 252);
  background: none; 
}

.load-more:focus { outline:0; }
